div#wpbody-content {
  section.date, section.resa, section.user, section.days {
      padding-right: 20px;
  }
}

tbody#list-date {
  tr {
    td {
      padding-bottom: .3em;
    }
  }
}

.resa_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and(min-width: 1200px) {
  .resa_container {
    .edit {
      grid-column: 1/4;
    }
    .day {
      grid-column: 1/3;
    }
    .calendar {
      grid-column: 3/4;
    }
  }
}

@media screen and(max-width: 1199px) {
  .resa_container {
    .edit {
      grid-column: 1/4;
    }
    .day {
      grid-column: 1/4;
    }
    .calendar {
      grid-column: 1/4;
    }
  }
}

button.icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
i.far.fa-trash-alt {
  /* color: black */
}
i.fas.fa-plus {
  /* color: black */
}
i.far.fa-edit {
  /* color: black */
}


table.table {
  width: 100%;
  font-size: 14px;
  th {
    text-align: left;
  }
  button, input {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

input[type=text] {
  height: 28px !important;
}
// 1270

section.days, section.days {
  th, td {
    width: 16.667%;
  }
}


.user_detail {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

#calendar-widget {
  padding: 0 1em 0 1em;
  a.fc-day-grid-event {
    div.fc-content {
      span.fc-time {
        display : none;
      }
      span.fc-title {
        white-space: normal;
      }
    }
  }
}

.fc-toolbar.fc-header-toolbar {
  display: flex;
  flex-direction: column;
  .fc-left {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .fc-right .fc-button-group{
    width: 100%;
    margin: 0;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    .fc-button-group button{
      width:100%;
    }
  }
}

.edit-day-form table {
  width: 100%;
}

table.excel {
  th, td {
    border: 1px solid black;
  }
}
